@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.map-container {
    position: relative;
    width: 600px;
    height: 400px;
}

.blue-overlay {
    filter: brightness(0) saturate(100%) invert(34%) sepia(87%) saturate(6882%) hue-rotate(193deg) brightness(90%) contrast(300%);
}

#occupation-slider {
    width: 600px;
    margin-top: 20px;
}

#mostChosenCountriesChart {
    height: 400px; /* or any height you prefer */
}
.chart-blur {
    filter: blur(10px);
    pointer-events: none;  /* Prevent interactions with the blurred chart */
}
